<%= form_for [@story, @comment] do |f| %>
<div class="form-group">
  <br>
  <%= f.label "Message" %>
  <br>
  <%= f.text_area :content, class: "textbox"%>
</div>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :story_id, :value => @story.id %>
<%= f.submit(:class => "btn btn-primary") %>
<% end %>
